.title {
    font-family: Manrope; 
    font-size: 40px; 
    font-weight: 600;
    color: #0F172A;
}
.link {
    font-family: Manrope; 
    font-size: 20px; 
    font-weight: 600;
    color: #0F172A;
}
.subtitle {
    font-family: Manrope; 
    font-size: 24px; 
    font-weight: 300;
    color: #727782;
}
.subsubtitle {
    font-family: Manrope; 
    font-size: 20px; 
    font-weight: 300;
    color: #727782;
}
.button {
    font-family: Manrope; 
    font-size: 20px; 
    font-weight: 600;
    background-color: #0F172A;;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    width: 100%;
}
.text {
    font-family: Manrope; 
    font-size: 20px; 
    font-weight: 300;
    color: #333949;
}
.mandatory {
    font-family: Manrope; 
    font-size: 20px; 
    font-weight: 300;
    color: #FA0000;
}
.input {
    font-family: Manrope; 
    font-size: 20px; 
    font-weight: 300;
    color: #727782;
}